.bookingBlock {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

    .bookingSection {
        display: flex;
        flex-direction: column;
        align-items: center;

        .guideSection {
            padding-top: 120px;
        }
    }

    .datetimePicker {
        display: flex;
        gap: 10px;
        padding-bottom: 40px;
    }

    .errorContent {
        margin-top: 10px;
    }
}
